[i="index"]{
.content-block{
  padding-top:10px;
  margin-bottom:30px;
  .content-url{
    margin:10px 0;
    font-size:13px;
  }
  .center-content{
    .left-content{
      float: left;
      width: 950px;
      .filter-box{
        background: #FFF;
        margin-top: 10px;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        padding-bottom: 15px;
        .filter-selected-condition{
          padding: 11px 20px;
          border-bottom: 1px solid #E5E5E5;
          min-height: 21px;
          font-size:14px;
          .filter-a{
            margin-left:15px;
            display:inline;
            .close-filter{
              display:inline-block;
              padding: 0 6px;
              border: 1px solid #31BBAC;
              border-radius: 10px;
              margin-right:10px;
              color: #31BBAC;
              font-size:12px;
              &:after{
                margin-left: 5px;
                content: "\00d7";
              }
            }
          }
          .close-allfilter{
            cursor:pointer;
            font-size:12px;
          }
        }
        .filter-section-wrapper{
          .filter-component{
            padding:15px 20px 0;
            .check{
              background-color: var(--allcolor);
              border-radius:100px;
              color:#fff !important;
            }
            div.label{
              position: absolute;
              width: 160px;
              label{
                height: 22px;
                line-height: 22px;
                display: block;
                width: 80px;
                float: left;
              }
              span{
                padding: 0 10px;
                display:inline-block;
                height: 22px;
                line-height: 22px;
                cursor:pointer;
              }
            }
            &:nth-last-child(n+2){
              >div.tags{
                padding-bottom: 10px;
                border-bottom: 1px solid #E5E5E5;
              }
            }
            .tags{
              line-height: 28px;
              margin-top: -3px;
              margin-left: 160px;
              .tag-group{
                display: inline-block;
                vertical-align: top;
                .div{
                  min-width: 120px;
                  display: inline-block;
                  cursor:pointer;
                  line-height: 28px;
                  span{
                    position:relative;
                    padding: 0 10px;
                    color: #666;
                  }
                  span.check.more{
                    &:after{
                      border-top-color: #fff;
                    }
                  }
                  span.more{
                    .more-div{
                      display:none;
                      position:absolute;
                      top:19px;
                      left:0;
                      width:125px;
                      border-radius:10px;
                      border:1px solid #ccc;
                      background-color:#fff;
                      z-index:1;
                      padding:10px 5px 10px 10px;
                      .div{
                        min-width: 60px;  
                      }
                    }
                    &:after{
                      content:"";
                      margin-left: 4px;
                      vertical-align: -1px;
                      display: inline-block;
                      border: 4px solid transparent;
                      border-top-color: #666;
                    }
                    &:hover{
                      .more-div{
                        display:block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .common-list{
        background: #FFF;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        color: #333;
        font-size: 14px;
        line-height: 20px;
        margin-top:10px;
        >div {
          padding: 11px 20px;
        }
        .sort-option{
          padding-top: 15px;
          padding-bottom: 2px;
          span{
            cursor:pointer;
            padding: 0 10px;
          }
          .active{
            color:var(--allcolor);
          }
          .sort-price{
            position:relative;
            &:after,&:before {
              content:"";
              border: 3.2px solid transparent;
              display: block;
              right: 0;
              top: 50%;
              position: absolute;
            }
            &:after{
                border-top-width: 4px;
                border-top-color: #ccc;
                margin-top: 1px;
            }
            &:before{
              border-bottom-width: 4px;
              border-bottom-color: #ccc;
              margin-top: -8px;
            }
          }
          .before:before{
             border-bottom-color:var(--allcolor);
          }
          .after:after{
             border-top-color:var(--allcolor);
          }
        }
        .common-list-main{
          padding: 11px 20px;
        }
      }
    }
    .right-content{
      float: left;
      width: 230px;
      margin-left: 10px;
      .map{
        border-radius:4px;
        width:230px;
        height:222px;
        margin-top:10px;
        background-color:pink;
      }
      .recommend-box {
        margin-top: 10px;
        background-color: #fff;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        padding: 16px 20px 0;
        width: 230px;
        box-sizing: border-box;
        .top-nav-box {
          margin-bottom: 12px;
        }
      }
    }
  }
}
.MaxmapBg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.1);
  .Maxmap{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width:400px;
    height:400px;
    background-color:#fff;
    box-shadow: 0 0 10px 1px #ccc;
    span{
      position:absolute;
      right:20px;
      top:10px;
      font-size:18px;
      z-index:999;
      color:black;
      cursor:pointer;
    }
  }
  
}
}