[i="put_password"]{
	.title{
    line-height: 40px;
    font-size: 16px;
    // font-weight: 700;
    color:black;
    a {
      font-weight: 400;
      font-size: 14px;
    }
  }
  .line {
    height: 1px;
    background-color: #d0d6d9;
    margin-top: 12px;
  }
 
}