[i='userexinfo']{
	
	.userinfo{
    margin-top:20px;
		.userinfo-left{
			float: left;
      width: 216px;
      background-color: #fff;
  box-shadow:0 0 24px rgba(0,0,0,0.21) inset;
      .avator-wapper {
        padding: 32px 0 24px;
        .avator-mode {
          position: relative;
          width: 100px;
          height: 100px;
          box-sizing: border-box;
          border: 4px solid #d9dde1;
          border-radius: 50px;
          margin: 0 auto;
          text-align: center;
          overflow: hidden;
          .update-avator{
            position:absolute;
            bottom: -30px;
            transition:.3s;
            width:100%;
            height:30px;
            font-size:12px;
            cursor:pointer;
            label {
              display:block;
              background: rgba(0,0,0,.6);
              color: #fff;
              line-height: 30px;
              cursor:pointer;
            }
          }
          &:hover{
            .update-avator{
              bottom:-2px !important;
            }
          }
        }
        .des-mode {
          font-size: 16px;
          text-align: center;
          p {
            line-height: 44px;
            width: 160px;
            margin: 0 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .list-wapper {
        overflow: hidden;
        h2 {
          font-size: 16px;
          line-height: 24px;
          margin: 12px 24px;
          font-weight: 700;
          text-align:center;
        }
        .line {
          height: 1px;
          background-color: #d9dde1;
          margin: 0 24px;
        }
        .menu {
          padding: 10px 0 25px;
          li {
            border: none!important;
          }
          a {
            display: block;
            position: relative;
            padding: 0 0 0 54px;
            height: 48px;
            line-height: 48px;
            color:#666;
            transition: background-color .3s ease;
            .arr {
              position: absolute;
              right: 25px;
              top: 0;
              color: #b5b9bc;
            }
            &:hover{
              color: var(--allcolor);
              .arr {
                color: var(--allcolor);
              }
            }
          }
          a.on {
            color: #fff;
            background-color: var(--allcolor);
            .arr {
              color: #fff;
              font-size:14px;
            }
          }
        }
      }
		}
    .userinfo-right{
      float: left;
      margin-left: 48px;
      width: 926px;
      min-height:550px;
      box-sizing: border-box;
      // background-color: #fff;
    }
	}
}